
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.container {
  min-width: 18rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.labelText {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  width: 13rem;
}

.dropdownMenu {
  cursor: pointer;
  text-align: center;
  width: 3rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  outline: none;
  background-color: #FAFAF7;
}

.dropdownMenu:hover {
  background-color: #D5DADD
  ;
}

.dropdownMenu:focus {
  background-color: #EAF1F4;
}
