
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.container {
  min-width: 18rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.labelText {
  user-select: none;
  -webkit-user-select: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  width: 8rem;
}

.timeText {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 600;
  width: 4rem;
  height: 1.5rem;
}