@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;900&display=swap');

@keyframes blink {
  0% {
    text-shadow: 5px 5px 10px #373F45;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 5px 5px 10px #373F45;
  }
}

.text {
  user-select: none;
  -webkit-user-select: none;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.4rem;
  animation: blink 5s ease-in-out infinite;
}
