.App {
  text-align: center;
}

.main {
  padding: 0.5rem 2rem;
  min-height: 25rem;
  min-width: 18rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(250, 250, 247);
  text-align: center;
}
