.App {
  text-align: center;
}

.main {
  min-height: 45rem;
  min-width: 20rem;
  max-width: 100vw;
  max-height: (100vh - 3rem);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(250, 250, 247);
  text-align: center;
}
